@import "navbar";

@mixin flex-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #f9f9f9;
}
main {
  min-height: 100vh;
  min-width: 99vw;
}
.title-container {
  @include flex-container();
  & .about-us-title {
    font-family: monospace;
    font-size: 3rem;
  }
  & .f-italic {
    font-style: italic;
  }
  & .title-divider {
    min-width: 40%;
  }
  & .title-tagline {
    font-family: monospace;
    font-size: 2rem;
    color: rgb(66, 143, 195);
  }
}
.who-are-we {
  @include flex-container();
  & .who-are-we-title {
    font-family: monospace;
    font-size: 2rem;
  }
  & .who-are-we-desc {
    width: 60%;
    font-size: 1.5em;
    color: #747474;
  }
}
.ceo-container {
  @include flex-container();
  margin-top: 3rem;
  margin-bottom: 3rem;

  flex-direction: row;
  gap: 10rem;
  & .ceo-inner {
    display: flex;
    & .ceo-img {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 150px;
    }
    & .ceo-info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      & .ceo-title {
        font-size: 2rem;
      }
    }
  }
  & .ceo-quote-container {
    align-self: flex-start;
    width: 20%;

    & .ceo-quote-title {
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 1rem;
    }
    & .ceo-quote-p {
      width: 25rem;
      font-size: 1.4em;
      color: #747474;
    }
  }
}
.team-section {
  @include flex-container();
  & .team-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    & .team-info {
      @include flex-container();
      justify-content: flex-start;
      & .team-title {
        font-size: 1.5rem;
      }
      & .team-info-p {
        width: 30rem;
        font-size: 1.4em;
        color: #747474;
      }
    }

    & .team-image {
      max-width: 100%;
      height: auto;
      min-height: 225px;
      border-radius: 40px;
      border: solid orange 1px;
    }
  }
}

.contact-form-section {
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(166, 68, 7);
  min-height: 30rem;
  & .contact-form-title {
    font-size: 3rem;
    color: white;
  }
  & .contact-form-p {
    font-size: 2rem;
    color: white;
  }
  & .contact-form {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    background-color: white;
    min-width: 35%;
    padding: 2rem;
    gap: 1rem;
    margin-bottom: 2rem;
    & label {
      font-size: 1.5rem;
    }
    & input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 1.5rem;
    }
    & input[type="submit"] {
      width: 100%;
      background-color: #e21339;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        background-color: #be1635;
      }
    }
  }
  & .contact-answer {
    display: none;
    margin: auto;
    font-size: 4rem;
  }
}
