@import "navbar";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}

main {
  min-height: 80vh;
  margin-left: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & .product-images {
    padding: 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
}

// Mixin Maybe?
.product-img-1,
.product-img-2,
.product-img-3,
.product-img-4 {
  cursor: pointer;
  border: solid black 5px;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.product-img-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  background: url(/assets/cap-item-1.jpg);
  background-size: cover;
  background-position: center;
}
.product-img-2 {
  background: url(/assets/girl-brown-cap.jpg);
  background-size: 100% 100%;
  @media only screen and (max-width: 650px) {
    display: none;
  }
}
.product-img-3 {
  background: url(/assets/dude-brown-cap.jpg);
  background-position: top;
  @media only screen and (max-width: 650px) {
    display: none;
  }
}
.product-img-4 {
  background: url(/assets/cap-item-1.jpg);
  background-position: center;
  background-color: grey;
  background-blend-mode: multiply;
  @media only screen and (max-width: 650px) {
    display: none;
  }
}
// Details Section
.product-details {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  & .product-details-top-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    & .product-desc {
      color: rgb(75, 75, 75);
      width: 80%;
    }
  }
  & .size-container {
    display: flex;
    gap: 1rem;
    & div {
      border: solid black 1px;
      height: 4rem;
      width: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

.container-add-to-cart {
  display: flex;
  margin: 0;
  padding: 0;
  & .btn-add-to-cart {
    margin: 0;
    background-color: #008cba;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 250ms;
    &:hover {
      background: #007095;
    }
  }
  & .cart-icon {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: black;
    color: white;
  }
}
